@use "../abstracts" as *;

.page-header {
  @include flex-center;
  height: 15%;
  justify-content: space-between;
  padding: 2rem 4rem;
  width: 100%;

  @include only-small {
    padding: 1.5rem
  }

  .header__logo {
    @include flex-center;
    gap: 2rem;

    &-image {
      transition: $t-short;
      width: 100px;
      
      &:hover {
        transform: scale(1.1);
      }
    }

    &-title {
      font-size: 2.8rem;
      transition: $t-short;
      
      &:hover {
        text-shadow: -4px 0px 0 $cyan;
        transform: translateX(5px);
      }

      @include only-small {
        font-size: 2.5rem;
      }
    
      @include only-phones {
        display: none;
      }
    }
  }

  .header__nav {
    align-items: center;
    display: flex;
    gap: 3rem;
    @include only-medium {
      display: none;
    }
  
    
    &-item {
      font-size: 1.3rem;
      border-bottom: 2px solid transparent;
      color: $black; 
      font-weight: bold;
      transition: $t-short;
      
      &:hover,
      &--active {
        border-color: $cyan;
        color: $green;
        transform: translateY(-5px)
      }
    } 
  }
  
  .header__open-menu-button {
    display: none;
    position: relative;
    margin-left: 2rem;
    @include only-medium {
      display: block;

      &:has(input:checked) + .overlay-menu {
        display: flex;
        opacity: 1;
      }
    }
  
    input {
      all: unset;
      position: absolute;
      inset: 0;
      cursor: pointer;
    }
    
    i {
      font-size: 1.8rem;
      @include only-phones {
        font-size: 2.5rem;
      }
    }
  }
}