@use "../abstracts" as *;

.overlay-menu {
  @include flex-center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: $t-short;
  background-color: rgba($black, $alpha: 0.9);

  &__nav {
    @include flex-center;
    flex-direction: column;
    gap: 2rem;
  }

  &__nav-item a, &__nav-item button i {
    font-size: 2rem;
    font-weight: bold;
    color: $green;
    transition: $t-plus-short;

    &:hover {
      text-shadow: 2px 2px rgba($cyan, $alpha: 0.7);
    }
  }

  &__nav-item button {
    background-color: transparent ;
  }
}