@use './_base';
@use './_components';
@use './_layout';
@use './_mixins' as *;
@use './_variables' as *;

header {
  @include flex-center;
  height: 15%;
  justify-content: space-between;
  padding: 2rem 4rem;
  width: 100%;

  .logo {
    align-items: center;
    display: flex;
    gap: 2rem;

    &__image {
      transition: 0.3s all;
      width: 90px;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__title {
      font-size: 48px;
      transition: 0.3s all;
      
      &:hover {
        text-shadow: -4px 0px 0 $cyan;
        transform: translateX(5px);
      }
    }
  }
}

.nav {
  align-items: center;
  display: flex;
  gap: 3rem;
  
  &__item {
    border-bottom: 2px solid transparent;
    color: $black;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.3s all;

    &:hover,
    &.active {
      border-color: $cyan;
      color: $green;
      transform: translateY(-5px)
    }
  }
}

main {
  @include flex-center;
  background-image: url("../../assets/images/rickandmortybackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 85%;

  .container {
    background-color: rgba($white, $alpha: 0.7);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    height: 90%;
    width: 100%;
    max-width: 1200px;
  }
}

footer {
  @include flex-center;  
  background-color: rgb(26, 26, 26);
  color: white;
  background-image: url("../../assets/images/WUBBALUBBADUBDUB.png");
  background-size: contain;
  background-position: right;
  flex-direction: column;
  height: 15%;
  width: 100%;

  .atributtions {
    @include flex-center;
    background-color: rgba($black, $alpha: 0.7);
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    flex-direction: column;
    max-width: 350px;
    padding: 1rem;
    width: 100%;
  }
  
  a {
    color: $cyan;
    font-weight: bold;
    transition: 0.5s all;

    &:hover {
      color: $green;
      letter-spacing: 1px;
    }
  }
}