@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin only-medium {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin only-small {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin only-phones {
  @media (max-width: 550px) {
    @content;
  }
}